In [3]:
import pandas as pd
from pandas import Series,DataFrame
import numpy as np

df_card=pd.read_csv('C:/Users/82109/Desktop/빅데이터/각종데이터/제주도/bus_bts.csv')
df_9=pd.read_csv('C:/Users/82109/Desktop/빅데이터/각종데이터/제주도/train.csv')
df_10=pd.read_csv('C:/Users/82109/Desktop/빅데이터/각종데이터/제주도/test.csv')

In [2]:
df_card.

,user_card_id,bus_route_id,vhc_id,geton_date,geton_time,geton_station_code,geton_station_name,getoff_date,getoff_time,getoff_station_code,getoff_station_name,user_category,user_count
0,1.010010e+15,23000000,149793674,2019-09-10,06:34:45,360,노형오거리,2019-09-10,07:10:31,592.0,화북초등학교,1,1
1,1.010010e+15,23000000,149793674,2019-09-10,06:34:58,360,노형오거리,2019-09-10,06:56:27,3273.0,고산동산(광양방면),1,1
2,1.019160e+15,21420000,149793535,2019-09-10,07:19:07,2495,동광환승정류장4(제주방면),2019-09-10,07:40:29,431.0,정존마을,4,1
3,1.019150e+15,21420000,149793512,2019-09-09,09:14:47,3282,대정환승정류장(대정읍사무소),2019-09-09,10:02:46,431.0,정존마을,1,1
4,1.010010e+15,21420000,149793512,2019-09-09,09:28:53,2820,삼정지에듀,2019-09-09,10:21:37,2972.0,제주국제공항(종점),4,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2409409,6.573162e+15,30420000,149797565,2019-10-16,07:08:31,1937,L마트,NaN,NaN,NaN,NaN,1,1
2409410,9.441160e+15,30420000,149797565,2019-10-16,07:16:31,1908,한라산교회,NaN,NaN,NaN,NaN,1,1
2409411,9.446038e+15,25070000,149797565,2019-10-16,08:29:05,1882,고도농원,NaN,NaN,NaN,NaN,1,1
2409412,4.309690e+15,25070000,149797565,2019-10-16,08:40:32,1938,주공아파트5단지,NaN,NaN,NaN,NaN,1,1
2409413,5.272898e+15,25070000,149797565,2019-10-16,08:40:35,1938,주공아파트5단지,NaN,NaN,NaN,NaN,1,1

In [7]:
df_9.groupby('in_out').count()

,id,date,bus_route_id,station_code,station_name,latitude,longitude,6~7_ride,7~8_ride,8~9_ride,9~10_ride,10~11_ride,11~12_ride,6~7_takeoff,7~8_takeoff,8~9_takeoff,9~10_takeoff,10~11_takeoff,11~12_takeoff,18~20_ride
in_out,,,,,,,,,,,,,,,,,,,,
시내,408500,408500,408500,408500,408500,408500,408500,408500,408500,408500,408500,408500,408500,408500,408500,408500,408500,408500,408500,408500
시외,6923,6923,6923,6923,6923,6923,6923,6923,6923,6923,6923,6923,6923,6923,6923,6923,6923,6923,6923,6923

In [1]:
df_card.head(5)

NameError: name 'df_card' is not defined

In [6]:
df_9.head(5)

,id,date,bus_route_id,in_out,station_code,station_name,latitude,longitude,6~7_ride,7~8_ride,...,9~10_ride,10~11_ride,11~12_ride,6~7_takeoff,7~8_takeoff,8~9_takeoff,9~10_takeoff,10~11_takeoff,11~12_takeoff,18~20_ride
0,0,2019-09-01,4270000,시외,344,제주썬호텔,33.48990,126.49373,0.0,1.0,...,5.0,2.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,2019-09-01,4270000,시외,357,한라병원,33.48944,126.48508,1.0,4.0,...,2.0,5.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0
2,2,2019-09-01,4270000,시외,432,정존마을,33.48181,126.47352,1.0,1.0,...,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0
3,3,2019-09-01,4270000,시내,1579,제주국제공항(600번),33.50577,126.49252,0.0,17.0,...,26.0,14.0,16.0,0.0,0.0,0.0,0.0,0.0,0.0,53.0
4,4,2019-09-01,4270000,시내,1646,중문관광단지입구,33.25579,126.41260,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [7]:
import folium
map_sun=folium.Map([33.48990,126.49373])
map_sun

In [7]:
df_10.head(5)

,id,date,bus_route_id,in_out,station_code,station_name,latitude,longitude,6~7_ride,7~8_ride,8~9_ride,9~10_ride,10~11_ride,11~12_ride,6~7_takeoff,7~8_takeoff,8~9_takeoff,9~10_takeoff,10~11_takeoff,11~12_takeoff
0,415423,2019-10-01,4270000,시외,344,제주썬호텔,33.48990,126.49373,4.0,4.0,7.0,2.0,9.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
1,415424,2019-10-01,4270000,시외,357,한라병원,33.48944,126.48508,1.0,6.0,6.0,1.0,8.0,11.0,0.0,0.0,0.0,0.0,0.0,0.0
2,415425,2019-10-01,4270000,시외,432,정존마을,33.48181,126.47352,2.0,4.0,2.0,2.0,2.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3,415426,2019-10-01,4270000,시내,1579,제주국제공항(600번),33.50577,126.49252,1.0,11.0,18.0,8.0,26.0,20.0,0.0,0.0,0.0,0.0,0.0,0.0
4,415427,2019-10-01,4270000,시내,1636,롯데호텔,33.24872,126.41032,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [8]:
df_9.describe()

,id,bus_route_id,station_code,latitude,longitude,6~7_ride,7~8_ride,8~9_ride,9~10_ride,10~11_ride,11~12_ride,6~7_takeoff,7~8_takeoff,8~9_takeoff,9~10_takeoff,10~11_takeoff,11~12_takeoff,18~20_ride
count,415423.000000,4.154230e+05,4.154230e+05,415423.000000,415423.000000,415423.000000,415423.000000,415423.000000,415423.000000,415423.000000,415423.000000,415423.000000,415423.000000,415423.000000,415423.000000,415423.000000,415423.000000,415423.000000
mean,207711.000000,2.691935e+07,4.209311e+04,33.420375,126.533574,0.305893,0.829699,0.815350,0.642475,0.599618,0.579393,0.112870,0.344870,0.516481,0.430922,0.408001,0.402874,1.242095
std,119922.434776,3.924652e+06,4.971504e+05,0.107996,0.140986,1.109766,2.255116,2.317561,1.959844,1.885941,1.942137,0.597714,1.279179,1.658850,1.485124,1.412839,1.446080,4.722287
min,0.000000,4.270000e+06,1.000000e+00,33.208350,126.165040,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,103855.500000,2.346000e+07,3.200000e+02,33.291080,126.475780,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,207711.000000,2.803000e+07,1.130000e+03,33.478850,126.529770,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,311566.500000,3.003000e+07,2.226000e+03,33.500020,126.575890,0.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
max,415422.000000,3.282000e+07,6.115101e+06,33.963640,126.965670,85.000000,94.000000,136.000000,78.000000,124.000000,99.000000,45.000000,66.000000,59.000000,65.000000,52.000000,81.000000,272.000000

In [9]:
df_10.describe()

,id,bus_route_id,station_code,latitude,longitude,6~7_ride,7~8_ride,8~9_ride,9~10_ride,10~11_ride,11~12_ride,6~7_takeoff,7~8_takeoff,8~9_takeoff,9~10_takeoff,10~11_takeoff,11~12_takeoff
count,228170.000000,2.281700e+05,2.281700e+05,228170.000000,228170.000000,228170.000000,228170.000000,228170.000000,228170.000000,228170.000000,228170.000000,228170.000000,228170.000000,228170.000000,228170.000000,228170.000000,228170.00000
mean,529507.500000,2.693348e+07,4.268922e+04,33.419553,126.533662,0.299268,0.786453,0.813990,0.671933,0.629101,0.619582,0.112057,0.336284,0.519503,0.452513,0.434606,0.43571
std,65867.149798,3.920495e+06,5.006822e+05,0.108004,0.141534,1.086878,2.139540,2.262655,2.046359,1.923265,2.028462,0.586951,1.271613,1.665510,1.541363,1.474626,1.53080
min,415423.000000,4.270000e+06,0.000000e+00,33.208350,126.165040,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000
25%,472465.250000,2.346000e+07,3.200000e+02,33.289190,126.475160,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000
50%,529507.500000,2.804000e+07,1.141000e+03,33.478330,126.529840,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000
75%,586549.750000,3.003000e+07,2.236000e+03,33.499970,126.576320,0.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000
max,643592.000000,3.282000e+07,6.115101e+06,33.963640,126.965670,45.000000,100.000000,106.000000,119.000000,69.000000,102.000000,37.000000,64.000000,47.000000,71.000000,55.000000,56.00000

In [10]:
df_card.describe()

,user_card_id,bus_route_id,vhc_id,geton_station_code,getoff_station_code,user_category,user_count
count,2.409414e+06,2.409414e+06,2.409414e+06,2.409414e+06,1.513678e+06,2.409414e+06,2.409414e+06
mean,2.920959e+15,2.545786e+07,1.497948e+08,1.197044e+05,8.406106e+04,4.073226e+00,1.012212e+00
std,2.249502e+16,4.017593e+06,1.808600e+03,8.422198e+05,7.058707e+05,6.523765e+00,1.354882e-01
min,1.355555e+07,4.270000e+06,1.497911e+08,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
25%,1.014140e+15,2.313000e+07,1.497932e+08,2.780000e+02,2.860000e+02,1.000000e+00,1.000000e+00
50%,1.019150e+15,2.400000e+07,1.497936e+08,6.030000e+02,8.510000e+02,1.000000e+00,1.000000e+00
75%,5.188320e+15,2.870000e+07,1.497970e+08,2.057000e+03,2.374000e+03,6.000000e+00,1.000000e+00
max,1.000700e+19,3.282000e+07,1.497989e+08,6.115101e+06,6.115101e+06,3.000000e+01,1.000000e+01

In [16]:
df_card.iloc[5]

user_card_id           1.01915e+15
bus_route_id              31520000
vhc_id                   149793453
geton_date              2019-09-10
geton_time                07:54:08
geton_station_code             189
geton_station_name             도호동
getoff_date             2019-09-10
getoff_time               08:07:09
getoff_station_code           3539
getoff_station_name          탐라도서관
user_category                    4
user_count                       1
Name: 5, dtype: object

In [2]:
df_9

,id,date,bus_route_id,in_out,station_code,station_name,latitude,longitude,6~7_ride,7~8_ride,...,9~10_ride,10~11_ride,11~12_ride,6~7_takeoff,7~8_takeoff,8~9_takeoff,9~10_takeoff,10~11_takeoff,11~12_takeoff,18~20_ride
0,0,2019-09-01,4270000,시외,344,제주썬호텔,33.48990,126.49373,0.0,1.0,...,5.0,2.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,2019-09-01,4270000,시외,357,한라병원,33.48944,126.48508,1.0,4.0,...,2.0,5.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0
2,2,2019-09-01,4270000,시외,432,정존마을,33.48181,126.47352,1.0,1.0,...,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0
3,3,2019-09-01,4270000,시내,1579,제주국제공항(600번),33.50577,126.49252,0.0,17.0,...,26.0,14.0,16.0,0.0,0.0,0.0,0.0,0.0,0.0,53.0
4,4,2019-09-01,4270000,시내,1646,중문관광단지입구,33.25579,126.41260,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
415418,415418,2019-09-30,32820000,시내,1129,한림환승정류장(한림리),33.41437,126.26336,4.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
415419,415419,2019-09-30,32820000,시내,1564,제주시외버스터미널,33.49946,126.51479,4.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
415420,415420,2019-09-30,32820000,시내,2322,해병부대,33.23100,126.26273,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
415421,415421,2019-09-30,32820000,시내,3291,애월환승정류장(애월리),33.46483,126.31870,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
415422,415422,2019-09-30,32820000,시내,6115100,서귀포시외버스터미널,33.24873,126.50799,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0

In [3]:
df_10

,id,date,bus_route_id,in_out,station_code,station_name,latitude,longitude,6~7_ride,7~8_ride,8~9_ride,9~10_ride,10~11_ride,11~12_ride,6~7_takeoff,7~8_takeoff,8~9_takeoff,9~10_takeoff,10~11_takeoff,11~12_takeoff
0,415423,2019-10-01,4270000,시외,344,제주썬호텔,33.48990,126.49373,4.0,4.0,7.0,2.0,9.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
1,415424,2019-10-01,4270000,시외,357,한라병원,33.48944,126.48508,1.0,6.0,6.0,1.0,8.0,11.0,0.0,0.0,0.0,0.0,0.0,0.0
2,415425,2019-10-01,4270000,시외,432,정존마을,33.48181,126.47352,2.0,4.0,2.0,2.0,2.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3,415426,2019-10-01,4270000,시내,1579,제주국제공항(600번),33.50577,126.49252,1.0,11.0,18.0,8.0,26.0,20.0,0.0,0.0,0.0,0.0,0.0,0.0
4,415427,2019-10-01,4270000,시내,1636,롯데호텔,33.24872,126.41032,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
228165,643588,2019-10-16,32820000,시내,786,고산환승정류장(고산1리),33.30073,126.18044,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0
228166,643589,2019-10-16,32820000,시내,1080,애월고등학교,33.46262,126.33447,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
228167,643590,2019-10-16,32820000,시내,1129,한림환승정류장(한림리),33.41437,126.26336,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
228168,643591,2019-10-16,32820000,시내,1564,제주시외버스터미널,33.49946,126.51479,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
228169,643592,2019-10-16,32820000,시내,6115100,서귀포시외버스터미널,33.24873,126.50799,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0

In [4]:
df_card

,user_card_id,bus_route_id,vhc_id,geton_date,geton_time,geton_station_code,geton_station_name,getoff_date,getoff_time,getoff_station_code,getoff_station_name,user_category,user_count
0,1.010010e+15,23000000,149793674,2019-09-10,06:34:45,360,노형오거리,2019-09-10,07:10:31,592.0,화북초등학교,1,1
1,1.010010e+15,23000000,149793674,2019-09-10,06:34:58,360,노형오거리,2019-09-10,06:56:27,3273.0,고산동산(광양방면),1,1
2,1.019160e+15,21420000,149793535,2019-09-10,07:19:07,2495,동광환승정류장4(제주방면),2019-09-10,07:40:29,431.0,정존마을,4,1
3,1.019150e+15,21420000,149793512,2019-09-09,09:14:47,3282,대정환승정류장(대정읍사무소),2019-09-09,10:02:46,431.0,정존마을,1,1
4,1.010010e+15,21420000,149793512,2019-09-09,09:28:53,2820,삼정지에듀,2019-09-09,10:21:37,2972.0,제주국제공항(종점),4,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2409409,6.573162e+15,30420000,149797565,2019-10-16,07:08:31,1937,L마트,NaN,NaN,NaN,NaN,1,1
2409410,9.441160e+15,30420000,149797565,2019-10-16,07:16:31,1908,한라산교회,NaN,NaN,NaN,NaN,1,1
2409411,9.446038e+15,25070000,149797565,2019-10-16,08:29:05,1882,고도농원,NaN,NaN,NaN,NaN,1,1
2409412,4.309690e+15,25070000,149797565,2019-10-16,08:40:32,1938,주공아파트5단지,NaN,NaN,NaN,NaN,1,1
2409413,5.272898e+15,25070000,149797565,2019-10-16,08:40:35,1938,주공아파트5단지,NaN,NaN,NaN,NaN,1,1

In [16]:
weekday9=pd.date_range("2019-09",'2019-09-30',freq='B')
weekday9

DatetimeIndex(['2019-09-02', '2019-09-03', '2019-09-04', '2019-09-05',
               '2019-09-06', '2019-09-09', '2019-09-10', '2019-09-11',
               '2019-09-12', '2019-09-13', '2019-09-16', '2019-09-17',
               '2019-09-18', '2019-09-19', '2019-09-20', '2019-09-23',
               '2019-09-24', '2019-09-25', '2019-09-26', '2019-09-27',
               '2019-09-30'],
              dtype='datetime64[ns]', freq='B')

In [38]:
a=df_9['station_name']
df_9.loc[df_9['station_name']==a.contains('제주국제공항')]

AttributeError: 'Series' object has no attribute 'contains'

In [37]:
df_9['station_name'].str.contains('제주국제공항')

0         False
1         False
2         False
3          True
4         False
          ...
415418    False
415419    False
415420    False
415421    False
415422    False
Name: station_name, Length: 415423, dtype: bool

In [40]:
jeju_guest9=df_9[df_9['station_name'].str.contains('제주국제공항')==True]
jeju_guest9

,id,date,bus_route_id,in_out,station_code,station_name,latitude,longitude,6~7_ride,7~8_ride,...,9~10_ride,10~11_ride,11~12_ride,6~7_takeoff,7~8_takeoff,8~9_takeoff,9~10_takeoff,10~11_takeoff,11~12_takeoff,18~20_ride
3,3,2019-09-01,4270000,시내,1579,제주국제공항(600번),33.50577,126.49252,0.0,17.0,...,26.0,14.0,16.0,0.0,0.0,0.0,0.0,0.0,0.0,53.0
55,55,2019-09-01,4280000,시내,2972,제주국제공항(종점),33.50571,126.49319,0.0,0.0,...,2.0,0.0,0.0,0.0,9.0,17.0,20.0,11.0,20.0,10.0
65,65,2019-09-01,8170000,시내,3350,"제주국제공항(평화로, 800번)",33.50659,126.49288,0.0,0.0,...,0.0,4.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,73.0
74,74,2019-09-01,8180000,시내,2972,제주국제공항(종점),33.50571,126.49319,0.0,0.0,...,0.0,0.0,0.0,0.0,3.0,11.0,7.0,11.0,0.0,0.0
110,110,2019-09-01,21000000,시내,3351,"제주국제공항(일주동로,516도로)",33.50669,126.49335,0.0,6.0,...,7.0,6.0,22.0,0.0,0.0,0.0,0.0,0.0,2.0,42.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
414484,414484,2019-09-30,32310000,시내,638,제주국제공항(구제주방면),33.50661,126.49345,0.0,12.0,...,0.0,1.0,2.0,0.0,8.0,0.0,0.0,1.0,6.0,3.0
414535,414535,2019-09-30,32320000,시내,1355,제주국제공항(신제주방면),33.50610,126.49275,0.0,0.0,...,2.0,5.0,0.0,0.0,0.0,0.0,4.0,2.0,0.0,5.0
415091,415091,2019-09-30,32570000,시내,638,제주국제공항(구제주방면),33.50661,126.49345,0.0,4.0,...,6.0,0.0,0.0,1.0,2.0,0.0,2.0,0.0,2.0,4.0
415116,415116,2019-09-30,32590000,시내,1355,제주국제공항(신제주방면),33.50610,126.49275,1.0,4.0,...,4.0,1.0,0.0,4.0,3.0,0.0,3.0,4.0,0.0,5.0
415361,415361,2019-09-30,32740000,시내,621,제주국제공항입구,33.50461,126.49647,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0

In [44]:
jeju_guest10=df_10[df_10['station_name'].str.contains('제주국제공항')== True]
jeju_guest10

,id,date,bus_route_id,in_out,station_code,station_name,latitude,longitude,6~7_ride,7~8_ride,8~9_ride,9~10_ride,10~11_ride,11~12_ride,6~7_takeoff,7~8_takeoff,8~9_takeoff,9~10_takeoff,10~11_takeoff,11~12_takeoff
3,415426,2019-10-01,4270000,시내,1579,제주국제공항(600번),33.50577,126.49252,1.0,11.0,18.0,8.0,26.0,20.0,0.0,0.0,0.0,0.0,0.0,0.0
27,415450,2019-10-01,4270000,시내,2972,제주국제공항(종점),33.50571,126.49319,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0
58,415481,2019-10-01,4280000,시내,2972,제주국제공항(종점),33.50571,126.49319,0.0,0.0,0.0,16.0,0.0,0.0,0.0,15.0,21.0,7.0,15.0,16.0
73,415496,2019-10-01,8170000,시내,3350,"제주국제공항(평화로, 800번)",33.50659,126.49288,1.0,0.0,7.0,5.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0
83,415506,2019-10-01,8180000,시내,2972,제주국제공항(종점),33.50571,126.49319,0.0,0.0,0.0,0.0,0.0,0.0,0.0,25.0,17.0,10.0,11.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
226906,642329,2019-10-16,31870000,시내,621,제주국제공항입구,33.50461,126.49647,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,4.0,2.0,0.0,0.0
227287,642710,2019-10-16,32310000,시내,638,제주국제공항(구제주방면),33.50661,126.49345,0.0,5.0,0.0,0.0,0.0,2.0,0.0,12.0,0.0,1.0,1.0,10.0
227330,642753,2019-10-16,32320000,시내,1355,제주국제공항(신제주방면),33.50610,126.49275,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,4.0,1.0,0.0
227869,643292,2019-10-16,32570000,시내,638,제주국제공항(구제주방면),33.50661,126.49345,0.0,0.0,1.0,1.0,0.0,2.0,1.0,0.0,1.0,1.0,2.0,3.0
228082,643505,2019-10-16,32740000,시내,621,제주국제공항입구,33.50461,126.49647,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0

In [51]:
jeju_guest9.groupby('station_name').count().

,id,date,bus_route_id,in_out,station_code,latitude,longitude,6~7_ride,7~8_ride,8~9_ride,9~10_ride,10~11_ride,11~12_ride,6~7_takeoff,7~8_takeoff,8~9_takeoff,9~10_takeoff,10~11_takeoff,11~12_takeoff,18~20_ride
station_name,,,,,,,,,,,,,,,,,,,,
제주국제공항,176,176,176,176,176,176,176,176,176,176,176,176,176,176,176,176,176,176,176,176
제주국제공항(600번),31,31,31,31,31,31,31,31,31,31,31,31,31,31,31,31,31,31,31,31
제주국제공항(구제주방면),583,583,583,583,583,583,583,583,583,583,583,583,583,583,583,583,583,583,583,583
"제주국제공항(대정,화순,일주서로)",145,145,145,145,145,145,145,145,145,145,145,145,145,145,145,145,145,145,145,145
제주국제공항(신제주방면),576,576,576,576,576,576,576,576,576,576,576,576,576,576,576,576,576,576,576,576
"제주국제공항(일주동로,516도로)",60,60,60,60,60,60,60,60,60,60,60,60,60,60,60,60,60,60,60,60
제주국제공항(종점),792,792,792,792,792,792,792,792,792,792,792,792,792,792,792,792,792,792,792,792
"제주국제공항(평화로, 800번)",88,88,88,88,88,88,88,88,88,88,88,88,88,88,88,88,88,88,88,88
제주국제공항입구,277,277,277,277,277,277,277,277,277,277,277,277,277,277,277,277,277,277,277,277

In [52]:
jeju_native9=df_9[df_9['station_name'].str.contains('제주국제공항')==False]
jeju_native10=df_10[df_10['station_name'].str.contains('제주국제공항')==False]

In [56]:
jeju_native9

,id,date,bus_route_id,in_out,station_code,station_name,latitude,longitude,6~7_ride,7~8_ride,...,9~10_ride,10~11_ride,11~12_ride,6~7_takeoff,7~8_takeoff,8~9_takeoff,9~10_takeoff,10~11_takeoff,11~12_takeoff,18~20_ride
0,0,2019-09-01,4270000,시외,344,제주썬호텔,33.48990,126.49373,0.0,1.0,...,5.0,2.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,2019-09-01,4270000,시외,357,한라병원,33.48944,126.48508,1.0,4.0,...,2.0,5.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0
2,2,2019-09-01,4270000,시외,432,정존마을,33.48181,126.47352,1.0,1.0,...,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0
4,4,2019-09-01,4270000,시내,1646,중문관광단지입구,33.25579,126.41260,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
5,5,2019-09-01,4270000,시내,1648,예래입구,33.25862,126.40442,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
415418,415418,2019-09-30,32820000,시내,1129,한림환승정류장(한림리),33.41437,126.26336,4.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
415419,415419,2019-09-30,32820000,시내,1564,제주시외버스터미널,33.49946,126.51479,4.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
415420,415420,2019-09-30,32820000,시내,2322,해병부대,33.23100,126.26273,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
415421,415421,2019-09-30,32820000,시내,3291,애월환승정류장(애월리),33.46483,126.31870,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
415422,415422,2019-09-30,32820000,시내,6115100,서귀포시외버스터미널,33.24873,126.50799,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0

In [63]:
station_sum9=np.array(jeju_native9['6~7_ride']+jeju_native9['7~8_ride'])
station_sum9

array([1., 5., 2., ..., 0., 1., 0.])

In [70]:
jeju_native9.apply(sum)

ValueError: No axis named 9 for object type <class 'pandas.core.frame.DataFrame'>

In [73]:
jeju_native9.pivot_table(index='station_name',aggfunc=np.mean)

,10~11_ride,10~11_takeoff,11~12_ride,11~12_takeoff,18~20_ride,6~7_ride,6~7_takeoff,7~8_ride,7~8_takeoff,8~9_ride,8~9_takeoff,9~10_ride,9~10_takeoff,bus_route_id,id,latitude,longitude,station_code
station_name,,,,,,,,,,,,,,,,,,
(구)구판장,0.255814,0.116279,0.000000,0.209302,0.000000,0.000000,0.000000,0.232558,0.000000,0.790698,0.023256,0.139535,0.000000,3.085814e+07,227066.930233,33.329692,126.798010,4211.232558
(구)중문동주민센터,0.227758,0.247331,0.215302,0.124555,0.382562,0.165480,0.021352,0.435943,0.140569,0.560498,0.245552,0.368327,0.233096,2.772941e+07,212682.026690,33.251089,126.434297,2058.532028
(구)중앙파출소,0.583490,0.540338,0.422139,0.604128,0.851782,0.206379,0.133208,0.236398,0.343340,0.255159,0.772983,0.484053,0.592871,2.863107e+07,210066.553471,33.247388,126.560714,2100.592871
(구)화산초등학교,0.000000,0.250000,0.000000,0.041667,0.000000,0.000000,0.000000,1.083333,0.000000,0.125000,0.000000,0.041667,0.000000,3.085333e+07,213620.833333,33.326245,126.797255,3694.000000
1100고지휴게소,0.232558,0.372093,0.558140,0.279070,0.023256,0.000000,0.000000,0.046512,0.000000,0.093023,0.465116,0.093023,0.162791,2.234558e+07,209740.488372,33.357820,126.463021,2054.883721
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
흙통,0.462500,0.525000,0.400000,0.462500,0.150000,0.137500,0.087500,0.675000,0.137500,0.500000,0.137500,0.375000,0.537500,2.382938e+07,205861.762500,33.262114,126.582543,1922.575000
흥국사,0.037037,0.111111,0.037037,0.074074,0.000000,0.037037,0.000000,0.037037,0.000000,0.111111,0.703704,0.111111,0.074074,2.293741e+07,207164.259259,33.452567,126.378313,1001.666667
흥덕사,0.047619,0.238095,0.285714,0.142857,0.000000,0.000000,0.000000,0.047619,0.000000,0.095238,0.047619,0.238095,0.095238,2.727286e+07,182304.857143,33.399082,126.876031,4199.476190
희진주유소,0.164773,0.079545,0.119318,0.073864,0.130682,0.085227,0.005682,0.494318,0.034091,0.460227,0.125000,0.255682,0.079545,2.841898e+07,218805.534091,33.377166,126.873872,2584.579545
히귀반석,0.205479,0.054795,0.041096,0.027397,0.027397,0.287671,0.000000,0.356164,0.013699,0.547945,0.178082,0.054795,0.027397,3.070534e+07,214760.095890,33.477550,126.407860,503.000000

In [74]:
jeju_native10.pivot_table(index='station_name',aggfunc=np.mean)

,10~11_ride,10~11_takeoff,11~12_ride,11~12_takeoff,6~7_ride,6~7_takeoff,7~8_ride,7~8_takeoff,8~9_ride,8~9_takeoff,9~10_ride,9~10_takeoff,bus_route_id,id,latitude,longitude,station_code
station_name,,,,,,,,,,,,,,,,,
(구)구판장,0.090909,0.136364,0.000000,0.227273,0.000000,0.000000,0.318182,0.000000,0.954545,0.045455,0.090909,0.000000,3.085591e+07,519496.181818,33.329694,126.798004,4211.272727
(구)중문동주민센터,0.259494,0.341772,0.202532,0.167722,0.123418,0.025316,0.389241,0.174051,0.623418,0.262658,0.367089,0.268987,2.764978e+07,529422.768987,33.251091,126.434295,2058.550633
(구)중앙파출소,0.584270,0.677903,0.494382,0.651685,0.232210,0.067416,0.299625,0.400749,0.445693,0.902622,0.629213,0.674157,2.856416e+07,532480.187266,33.247390,126.560717,2110.741573
(구)화산초등학교,0.142857,0.214286,0.000000,0.000000,0.000000,0.000000,0.857143,0.000000,0.071429,0.000000,0.071429,0.000000,3.085643e+07,540204.428571,33.326243,126.797256,3767.714286
1100고지휴게소,0.047619,0.380952,0.333333,0.523810,0.000000,0.000000,0.047619,0.000000,0.190476,0.571429,0.000000,0.095238,2.234667e+07,526178.523810,33.357820,126.463033,2173.666667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
흙통,0.466667,0.644444,0.400000,0.288889,0.155556,0.266667,0.311111,0.111111,0.511111,0.177778,0.355556,0.466667,2.384067e+07,522358.044444,33.262113,126.582542,1922.577778
흥국사,0.100000,0.050000,0.050000,0.050000,0.100000,0.050000,0.250000,0.150000,0.050000,0.600000,0.100000,0.150000,2.385000e+07,529214.550000,33.452554,126.378292,1001.600000
흥덕사,0.142857,0.142857,0.000000,0.142857,0.000000,0.000000,0.000000,0.142857,0.285714,0.000000,0.142857,0.285714,2.727143e+07,526336.428571,33.399101,126.876043,4199.285714
희진주유소,0.113208,0.084906,0.066038,0.084906,0.132075,0.000000,0.452830,0.028302,0.320755,0.122642,0.150943,0.066038,2.847283e+07,529087.254717,33.377153,126.873866,2584.566038
히귀반석,0.195122,0.048780,0.000000,0.073171,0.292683,0.000000,0.121951,0.000000,0.536585,0.097561,0.170732,0.170732,3.123415e+07,525388.926829,33.477550,126.407860,503.000000

In [75]:
df_card

,user_card_id,bus_route_id,vhc_id,geton_date,geton_time,geton_station_code,geton_station_name,getoff_date,getoff_time,getoff_station_code,getoff_station_name,user_category,user_count
0,1.010010e+15,23000000,149793674,2019-09-10,06:34:45,360,노형오거리,2019-09-10,07:10:31,592.0,화북초등학교,1,1
1,1.010010e+15,23000000,149793674,2019-09-10,06:34:58,360,노형오거리,2019-09-10,06:56:27,3273.0,고산동산(광양방면),1,1
2,1.019160e+15,21420000,149793535,2019-09-10,07:19:07,2495,동광환승정류장4(제주방면),2019-09-10,07:40:29,431.0,정존마을,4,1
3,1.019150e+15,21420000,149793512,2019-09-09,09:14:47,3282,대정환승정류장(대정읍사무소),2019-09-09,10:02:46,431.0,정존마을,1,1
4,1.010010e+15,21420000,149793512,2019-09-09,09:28:53,2820,삼정지에듀,2019-09-09,10:21:37,2972.0,제주국제공항(종점),4,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2409409,6.573162e+15,30420000,149797565,2019-10-16,07:08:31,1937,L마트,NaN,NaN,NaN,NaN,1,1
2409410,9.441160e+15,30420000,149797565,2019-10-16,07:16:31,1908,한라산교회,NaN,NaN,NaN,NaN,1,1
2409411,9.446038e+15,25070000,149797565,2019-10-16,08:29:05,1882,고도농원,NaN,NaN,NaN,NaN,1,1
2409412,4.309690e+15,25070000,149797565,2019-10-16,08:40:32,1938,주공아파트5단지,NaN,NaN,NaN,NaN,1,1
2409413,5.272898e+15,25070000,149797565,2019-10-16,08:40:35,1938,주공아파트5단지,NaN,NaN,NaN,NaN,1,1

In [87]:
a

,id,date,bus_route_id,in_out,station_code,station_name,latitude,longitude,6~7_ride,7~8_ride,...,9~10_ride,10~11_ride,11~12_ride,6~7_takeoff,7~8_takeoff,8~9_takeoff,9~10_takeoff,10~11_takeoff,11~12_takeoff,18~20_ride
399539,399539,2019-09-30,4270000,시외,344,제주썬호텔,33.48990,126.49373,3.0,5.0,...,10.0,4.0,2.0,0.0,3.0,0.0,1.0,0.0,0.0,3.0
399540,399540,2019-09-30,4270000,시외,357,한라병원,33.48944,126.48508,2.0,3.0,...,9.0,13.0,4.0,0.0,0.0,1.0,0.0,0.0,0.0,12.0
399541,399541,2019-09-30,4270000,시외,432,정존마을,33.48181,126.47352,2.0,2.0,...,5.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
399542,399542,2019-09-30,4270000,시내,1579,제주국제공항(600번),33.50577,126.49252,1.0,23.0,...,33.0,22.0,7.0,0.0,0.0,1.0,0.0,0.0,0.0,61.0
399543,399543,2019-09-30,4270000,시내,1636,롯데호텔,33.24872,126.41032,0.0,0.0,...,3.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
415418,415418,2019-09-30,32820000,시내,1129,한림환승정류장(한림리),33.41437,126.26336,4.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
415419,415419,2019-09-30,32820000,시내,1564,제주시외버스터미널,33.49946,126.51479,4.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
415420,415420,2019-09-30,32820000,시내,2322,해병부대,33.23100,126.26273,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
415421,415421,2019-09-30,32820000,시내,3291,애월환승정류장(애월리),33.46483,126.31870,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
415422,415422,2019-09-30,32820000,시내,6115100,서귀포시외버스터미널,33.24873,126.50799,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0

In [86]:
a=df_9[df_9['date']=='2019-09-30']
a.groupby('station_code').count()  #정류장 기준으로 하니까 버스 수!

,id,date,bus_route_id,in_out,station_name,latitude,longitude,6~7_ride,7~8_ride,8~9_ride,9~10_ride,10~11_ride,11~12_ride,6~7_takeoff,7~8_takeoff,8~9_takeoff,9~10_takeoff,10~11_takeoff,11~12_takeoff,18~20_ride
station_code,,,,,,,,,,,,,,,,,,,,
1,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4
2,11,11,11,11,11,11,11,11,11,11,11,11,11,11,11,11,11,11,11,11
3,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8
4,15,15,15,15,15,15,15,15,15,15,15,15,15,15,15,15,15,15,15,15
5,11,11,11,11,11,11,11,11,11,11,11,11,11,11,11,11,11,11,11,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6115048,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
6115052,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
6115059,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
6115100,15,15,15,15,15,15,15,15,15,15,15,15,15,15,15,15,15,15,15,15
6115101,11,11,11,11,11,11,11,11,11,11,11,11,11,11,11,11,11,11,11,11

In [3]:
df_9.head(5)

,id,date,bus_route_id,in_out,station_code,station_name,latitude,longitude,6~7_ride,7~8_ride,...,9~10_ride,10~11_ride,11~12_ride,6~7_takeoff,7~8_takeoff,8~9_takeoff,9~10_takeoff,10~11_takeoff,11~12_takeoff,18~20_ride
0,0,2019-09-01,4270000,시외,344,제주썬호텔,33.48990,126.49373,0.0,1.0,...,5.0,2.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,2019-09-01,4270000,시외,357,한라병원,33.48944,126.48508,1.0,4.0,...,2.0,5.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0
2,2,2019-09-01,4270000,시외,432,정존마을,33.48181,126.47352,1.0,1.0,...,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0
3,3,2019-09-01,4270000,시내,1579,제주국제공항(600번),33.50577,126.49252,0.0,17.0,...,26.0,14.0,16.0,0.0,0.0,0.0,0.0,0.0,0.0,53.0
4,4,2019-09-01,4270000,시내,1646,중문관광단지입구,33.25579,126.41260,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [4]:
df_10.head()

,id,date,bus_route_id,in_out,station_code,station_name,latitude,longitude,6~7_ride,7~8_ride,8~9_ride,9~10_ride,10~11_ride,11~12_ride,6~7_takeoff,7~8_takeoff,8~9_takeoff,9~10_takeoff,10~11_takeoff,11~12_takeoff
0,415423,2019-10-01,4270000,시외,344,제주썬호텔,33.48990,126.49373,4.0,4.0,7.0,2.0,9.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
1,415424,2019-10-01,4270000,시외,357,한라병원,33.48944,126.48508,1.0,6.0,6.0,1.0,8.0,11.0,0.0,0.0,0.0,0.0,0.0,0.0
2,415425,2019-10-01,4270000,시외,432,정존마을,33.48181,126.47352,2.0,4.0,2.0,2.0,2.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3,415426,2019-10-01,4270000,시내,1579,제주국제공항(600번),33.50577,126.49252,1.0,11.0,18.0,8.0,26.0,20.0,0.0,0.0,0.0,0.0,0.0,0.0
4,415427,2019-10-01,4270000,시내,1636,롯데호텔,33.24872,126.41032,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [4]:
df_9.loc[[1,6],'station_code':'10~11_ride']

,station_code,station_name,latitude,longitude,6~7_ride,7~8_ride,8~9_ride,9~10_ride,10~11_ride
1,357,한라병원,33.48944,126.48508,1.0,4.0,4.0,2.0,5.0
6,1660,제주국제컨벤션센터중문대포해안주상절리대,33.24309,126.42472,0.0,1.0,0.0,0.0,2.0

In [10]:
#그 칼럼에서 max인 값이 row추출

df_9.loc[max(df_9['6~7_ride'])]

id                       85
date             2019-09-01
bus_route_id       20010000
in_out                   시외
station_code        6115004
station_name           엘지마트
latitude            33.9614
longitude           126.295
6~7_ride                  0
7~8_ride                  0
8~9_ride                  0
9~10_ride                 2
10~11_ride                0
11~12_ride                0
6~7_takeoff               0
7~8_takeoff               0
8~9_takeoff               0
9~10_takeoff              0
10~11_takeoff             0
11~12_takeoff             0
18~20_ride                0
Name: 85, dtype: object

In [11]:
df_9[max(df_9['6~7_ride'])]

KeyError: 85

In [12]:
df_9.loc[df_9['6~7_ride']==max(df_9['6~7_ride'])]

,id,date,bus_route_id,in_out,station_code,station_name,latitude,longitude,6~7_ride,7~8_ride,...,9~10_ride,10~11_ride,11~12_ride,6~7_takeoff,7~8_takeoff,8~9_takeoff,9~10_takeoff,10~11_takeoff,11~12_takeoff,18~20_ride
158156,158156,2019-09-12,23050000,시내,3112,제6부두,33.5224,126.54445,85.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [13]:
df_10.loc[df_10['6~7_ride']==max(df_10['6~7_ride'])]

,id,date,bus_route_id,in_out,station_code,station_name,latitude,longitude,6~7_ride,7~8_ride,8~9_ride,9~10_ride,10~11_ride,11~12_ride,6~7_takeoff,7~8_takeoff,8~9_takeoff,9~10_takeoff,10~11_takeoff,11~12_takeoff
183876,599299,2019-10-14,22520000,시내,1565,시외버스출발지(가상정류소),33.49946,126.51478,45.0,53.0,37.0,59.0,43.0,28.0,0.0,0.0,1.0,1.0,15.0,11.0

In [14]:
#원하는 칼럼만 보고싶으면....??!!

df_9_max_6_7=df_9.loc[df_9['6~7_ride']==max(df_9['6~7_ride'])]
df_9_max_6_7[['station_code','station_name','6~7_ride']]

# 칼럼소환(칼럼인덱스)도 리스트화 돼!

        station_code station_name  6~7_ride
158156          3112         제6부두      85.0

In [2]:
df_card.head(10)

,user_card_id,bus_route_id,vhc_id,geton_date,geton_time,geton_station_code,geton_station_name,getoff_date,getoff_time,getoff_station_code,getoff_station_name,user_category,user_count
0,1.010010e+15,23000000,149793674,2019-09-10,06:34:45,360,노형오거리,2019-09-10,07:10:31,592.0,화북초등학교,1,1
1,1.010010e+15,23000000,149793674,2019-09-10,06:34:58,360,노형오거리,2019-09-10,06:56:27,3273.0,고산동산(광양방면),1,1
2,1.019160e+15,21420000,149793535,2019-09-10,07:19:07,2495,동광환승정류장4(제주방면),2019-09-10,07:40:29,431.0,정존마을,4,1
3,1.019150e+15,21420000,149793512,2019-09-09,09:14:47,3282,대정환승정류장(대정읍사무소),2019-09-09,10:02:46,431.0,정존마을,1,1
4,1.010010e+15,21420000,149793512,2019-09-09,09:28:53,2820,삼정지에듀,2019-09-09,10:21:37,2972.0,제주국제공항(종점),4,1
5,1.019150e+15,31520000,149793453,2019-09-10,07:54:08,189,도호동,2019-09-10,08:07:09,3539.0,탐라도서관,4,1
6,1.019160e+15,31520000,149793453,2019-09-10,08:11:47,476,한라중학교/부영아파트,2019-09-10,08:25:42,190.0,제주중앙중학교,4,1
7,1.010002e+15,31520000,149793453,2019-09-10,08:25:47,190,제주중앙중학교,2019-09-10,08:33:45,74.0,보건소,1,1
8,1.010002e+15,31520000,149793453,2019-09-10,08:30:22,74,보건소,2019-09-10,08:33:49,74.0,보건소,1,1
9,1.010010e+15,31570000,149793528,2019-09-11,07:04:03,2495,동광환승정류장4(제주방면),2019-09-11,07:46:14,2970.0,제주시외버스터미널(종점),1,1

In [3]:
df_card['geton_time'].dtype

dtype('O')

In [4]:
df_card.dtypes

user_card_id           float64
bus_route_id             int64
vhc_id                   int64
geton_date              object
geton_time              object
geton_station_code       int64
geton_station_name      object
getoff_date             object
getoff_time             object
getoff_station_code    float64
getoff_station_name     object
user_category            int64
user_count               int64
dtype: object

In [11]:
df_card['geton_date']=df_card['geton_date'].astype('object')

KeyboardInterrupt:

In [14]:
df_card.dtypes

user_card_id           float64
bus_route_id             int64
vhc_id                   int64
geton_date              object
geton_time              object
geton_station_code       int64
geton_station_name      object
getoff_date             object
getoff_time             object
getoff_station_code    float64
getoff_station_name     object
user_category            int64
user_count               int64
dtype: object

In [15]:
df_card.head(7)

,user_card_id,bus_route_id,vhc_id,geton_date,geton_time,geton_station_code,geton_station_name,getoff_date,getoff_time,getoff_station_code,getoff_station_name,user_category,user_count
0,1.010010e+15,23000000,149793674,2019-09-10,06:34:45,360,노형오거리,2019-09-10,07:10:31,592.0,화북초등학교,1,1
1,1.010010e+15,23000000,149793674,2019-09-10,06:34:58,360,노형오거리,2019-09-10,06:56:27,3273.0,고산동산(광양방면),1,1
2,1.019160e+15,21420000,149793535,2019-09-10,07:19:07,2495,동광환승정류장4(제주방면),2019-09-10,07:40:29,431.0,정존마을,4,1
3,1.019150e+15,21420000,149793512,2019-09-09,09:14:47,3282,대정환승정류장(대정읍사무소),2019-09-09,10:02:46,431.0,정존마을,1,1
4,1.010010e+15,21420000,149793512,2019-09-09,09:28:53,2820,삼정지에듀,2019-09-09,10:21:37,2972.0,제주국제공항(종점),4,1
5,1.019150e+15,31520000,149793453,2019-09-10,07:54:08,189,도호동,2019-09-10,08:07:09,3539.0,탐라도서관,4,1
6,1.019160e+15,31520000,149793453,2019-09-10,08:11:47,476,한라중학교/부영아파트,2019-09-10,08:25:42,190.0,제주중앙중학교,4,1

In [20]:
df_card[df_card['geton_time'].str.contains('06')==True]

,user_card_id,bus_route_id,vhc_id,geton_date,geton_time,geton_station_code,geton_station_name,getoff_date,getoff_time,getoff_station_code,getoff_station_name,user_category,user_count
0,1.010010e+15,23000000,149793674,2019-09-10,06:34:45,360,노형오거리,2019-09-10,07:10:31,592.0,화북초등학교,1,1
1,1.010010e+15,23000000,149793674,2019-09-10,06:34:58,360,노형오거리,2019-09-10,06:56:27,3273.0,고산동산(광양방면),1,1
64,1.010010e+15,29720000,149793472,2019-09-10,06:52:11,268,화북남문,2019-09-10,06:54:58,293.0,국립제주박물관,1,1
69,1.019160e+15,23420000,149793469,2019-09-10,06:54:10,253,대림아파트,2019-09-10,07:06:42,2896.0,오름중학교,4,1
71,1.019160e+15,23000000,149793677,2019-09-10,07:06:21,449,부영아파트,2019-09-10,07:12:12,11.0,노형오거리,4,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2409307,5.365100e+15,24230000,149793643,2019-10-16,06:48:11,97,제주민속오일장,NaN,NaN,NaN,NaN,1,1
2409308,6.556162e+15,24230000,149793643,2019-10-16,06:54:51,358,한라병원,NaN,NaN,NaN,NaN,1,1
2409309,9.445421e+15,24230000,149793643,2019-10-16,07:06:17,171,월구마을,NaN,NaN,NaN,NaN,1,1
2409364,9.490192e+15,23240000,149797049,2019-10-16,07:06:13,186,은남동,NaN,NaN,NaN,NaN,1,1
2409407,9.410108e+15,30420000,149797565,2019-10-16,06:34:46,2054,중문동,NaN,NaN,NaN,NaN,1,1

In [39]:
df_card['geton_time']=df_card['geton_time'].apply(lambda x: x.split(':')[0])
df_card_test=df_card.groupby(['geton_station_name','geton_date','geton_time']).sum()
df_card_test

                                          user_card_id  bus_route_id  \
geton_station_name geton_date geton_time
(구)구판장             2019-09-02 07          9.411170e+15      30850000
                              08          1.004930e+16      61700000
                              10          1.043449e+16      61740000
                   2019-09-03 07          1.408970e+16      61700000
                              08          9.035162e+15      30850000
...                                                ...           ...
히귀반석               2019-10-14 10          6.375111e+15      63740000
                   2019-10-15 07          5.365101e+15      31870000
                              08          1.882234e+16      63740000
                   2019-10-16 08          9.411170e+15      31870000
                              09          1.010010e+15      31890000

                                             vhc_id  geton_station_code  \
geton_station_name geton_date geton_time
(구)구판장             2019-09-02 07          149796614                4211
                              08          299593228                8422
                              10          299593228                8422
                   2019-09-03 07          299593228                8422
                              08          149796614                4211
...                                             ...                 ...
히귀반석               2019-10-14 10          299587264                1006
                   2019-10-15 07          149793637                 503
                              08          299587216                1006
                   2019-10-16 08          149793607                 503
                              09          149793608                 503

                                          getoff_station_code  user_category  \
geton_station_name geton_date geton_time
(구)구판장             2019-09-02 07                          0.0              1
                              08                       2374.0             34
                              10                       4626.0             12
                   2019-09-03 07                       2233.0              2
                              08                          0.0             28
...                                                       ...            ...
히귀반석               2019-10-14 10                       3270.0              2
                   2019-10-15 07                          0.0              1
                              08                        391.0              2
                   2019-10-16 08                        391.0              1
                              09                        360.0              1

                                          user_count
geton_station_name geton_date geton_time
(구)구판장             2019-09-02 07                   1
                              08                   2
                              10                   2
                   2019-09-03 07                   2
                              08                   1
...                                              ...
히귀반석               2019-10-14 10                   2
                   2019-10-15 07                   1
                              08                   2
                   2019-10-16 08                   1
                              09                   1

[259591 rows x 7 columns]

In [42]:
# http://hleecaster.com/python-pandas-aggregates/ 
# 데이터프레임 groupby 설명


df_card['geton_time']=df_card['geton_time'].apply(lambda x: x.split(':')[0])
df_card_time=df_card.groupby(['geton_station_name','geton_date','geton_time']).user_count.sum().reset_index()
df_card_time

       geton_station_name  geton_date geton_time  user_count
0                  (구)구판장  2019-09-02         07           1
1                  (구)구판장  2019-09-02         08           2
2                  (구)구판장  2019-09-02         10           2
3                  (구)구판장  2019-09-03         07           2
4                  (구)구판장  2019-09-03         08           1
...                   ...         ...        ...         ...
259586               히귀반석  2019-10-14         10           2
259587               히귀반석  2019-10-15         07           1
259588               히귀반석  2019-10-15         08           2
259589               히귀반석  2019-10-16         08           1
259590               히귀반석  2019-10-16         09           1

[259591 rows x 4 columns]

In [1]:
# 조건 2개 거는 데이터 프레임 (칼럼 2개에서)
# and로 연결?

df_card_time[df_card_time==df_card_time['geton_time']=='07'
             & df_card_time['geton_station_name']=='(구)구판장']

NameError: name 'df_card_time' is not defined

In [3]:
df_9.head(10)

,id,date,bus_route_id,in_out,station_code,station_name,latitude,longitude,6~7_ride,7~8_ride,...,9~10_ride,10~11_ride,11~12_ride,6~7_takeoff,7~8_takeoff,8~9_takeoff,9~10_takeoff,10~11_takeoff,11~12_takeoff,18~20_ride
0,0,2019-09-01,4270000,시외,344,제주썬호텔,33.48990,126.49373,0.0,1.0,...,5.0,2.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,2019-09-01,4270000,시외,357,한라병원,33.48944,126.48508,1.0,4.0,...,2.0,5.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0
2,2,2019-09-01,4270000,시외,432,정존마을,33.48181,126.47352,1.0,1.0,...,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0
3,3,2019-09-01,4270000,시내,1579,제주국제공항(600번),33.50577,126.49252,0.0,17.0,...,26.0,14.0,16.0,0.0,0.0,0.0,0.0,0.0,0.0,53.0
4,4,2019-09-01,4270000,시내,1646,중문관광단지입구,33.25579,126.41260,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
5,5,2019-09-01,4270000,시내,1648,예래입구,33.25862,126.40442,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
6,6,2019-09-01,4270000,시외,1660,제주국제컨벤션센터중문대포해안주상절리대,33.24309,126.42472,0.0,1.0,...,0.0,2.0,0.0,0.0,0.0,0.0,0.0,1.0,5.0,3.0
7,7,2019-09-01,4270000,시외,1666,창천리,33.26598,126.37082,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
8,8,2019-09-01,4270000,시외,1726,강정농협,33.23603,126.47827,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,2.0
9,9,2019-09-01,4270000,시내,2008,서귀포항,33.23977,126.56450,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,2.0,0.0

In [5]:
import pandas as pd
from pandas import Series,DataFrame
import numpy as np

df_card=pd.read_csv('C:/Users/82109/Desktop/빅데이터/각종데이터/제주도/bus_bts.csv')
df_9=pd.read_csv('C:/Users/82109/Desktop/빅데이터/각종데이터/제주도/train.csv')
df_10=pd.read_csv('C:/Users/82109/Desktop/빅데이터/각종데이터/제주도/test.csv')


df_9['sum_ride']=df_9['7~8_ride']+df_9['9~10_ride']+df_9['10~11_ride']+df_9['11~12_ride']
df_sum9=df_9[['station_code','station_name','bus_route_id','date','sum_ride']]
df_sum9.sort_values(['station_code','date'],ascending=True)

        station_code       station_name  bus_route_id        date  sum_ride
3795               1           국제여객선터미널      24000000  2019-09-01       0.0
3860               1           국제여객선터미널      24010000  2019-09-01       0.0
3969               1           국제여객선터미널      24030000  2019-09-01       2.0
4175               1           국제여객선터미널      24090000  2019-09-01       1.0
4210               1           국제여객선터미널      24110000  2019-09-01       0.0
...              ...                ...           ...         ...       ...
408281       6115101  서귀포시외버스터미널(가상정류소)      28530000  2019-09-30       8.0
408460       6115101  서귀포시외버스터미널(가상정류소)      28570000  2019-09-30       5.0
408576       6115101  서귀포시외버스터미널(가상정류소)      28590000  2019-09-30       2.0
408882       6115101  서귀포시외버스터미널(가상정류소)      28680000  2019-09-30       0.0
410417       6115101  서귀포시외버스터미널(가상정류소)      29270000  2019-09-30       1.0

[415423 rows x 5 columns]

In [4]:
df_10['sum_ride']=df_10['7~8_ride']+df_10['9~10_ride']+df_10['10~11_ride']+df_10['11~12_ride']
df_sum10=df_10[['station_code','station_name','bus_route_id','date','sum_ride']]
df_sum10

        station_code   station_name  bus_route_id        date  sum_ride
0                344          제주썬호텔       4270000  2019-10-01      16.0
1                357           한라병원       4270000  2019-10-01      26.0
2                432           정존마을       4270000  2019-10-01       9.0
3               1579   제주국제공항(600번)       4270000  2019-10-01      65.0
4               1636           롯데호텔       4270000  2019-10-01       0.0
...              ...            ...           ...         ...       ...
228165           786  고산환승정류장(고산1리)      32820000  2019-10-16       0.0
228166          1080         애월고등학교      32820000  2019-10-16       0.0
228167          1129   한림환승정류장(한림리)      32820000  2019-10-16       0.0
228168          1564      제주시외버스터미널      32820000  2019-10-16       0.0
228169       6115100     서귀포시외버스터미널      32820000  2019-10-16       0.0

[228170 rows x 5 columns]

In [3]:
import pandas as pd
from pandas import Series,DataFrame
import numpy as np

df_card=pd.read_csv('C:/Users/82109/Desktop/빅데이터/각종데이터/제주도/bus_bts.csv')
df_9=pd.read_csv('C:/Users/82109/Desktop/빅데이터/각종데이터/제주도/train.csv')
df_10=pd.read_csv('C:/Users/82109/Desktop/빅데이터/각종데이터/제주도/test.csv')

In [2]:
df_card

,user_card_id,bus_route_id,vhc_id,geton_date,geton_time,geton_station_code,geton_station_name,getoff_date,getoff_time,getoff_station_code,getoff_station_name,user_category,user_count
0,1.010010e+15,23000000,149793674,2019-09-10,06:34:45,360,노형오거리,2019-09-10,07:10:31,592.0,화북초등학교,1,1
1,1.010010e+15,23000000,149793674,2019-09-10,06:34:58,360,노형오거리,2019-09-10,06:56:27,3273.0,고산동산(광양방면),1,1
2,1.019160e+15,21420000,149793535,2019-09-10,07:19:07,2495,동광환승정류장4(제주방면),2019-09-10,07:40:29,431.0,정존마을,4,1
3,1.019150e+15,21420000,149793512,2019-09-09,09:14:47,3282,대정환승정류장(대정읍사무소),2019-09-09,10:02:46,431.0,정존마을,1,1
4,1.010010e+15,21420000,149793512,2019-09-09,09:28:53,2820,삼정지에듀,2019-09-09,10:21:37,2972.0,제주국제공항(종점),4,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2409409,6.573162e+15,30420000,149797565,2019-10-16,07:08:31,1937,L마트,NaN,NaN,NaN,NaN,1,1
2409410,9.441160e+15,30420000,149797565,2019-10-16,07:16:31,1908,한라산교회,NaN,NaN,NaN,NaN,1,1
2409411,9.446038e+15,25070000,149797565,2019-10-16,08:29:05,1882,고도농원,NaN,NaN,NaN,NaN,1,1
2409412,4.309690e+15,25070000,149797565,2019-10-16,08:40:32,1938,주공아파트5단지,NaN,NaN,NaN,NaN,1,1
2409413,5.272898e+15,25070000,149797565,2019-10-16,08:40:35,1938,주공아파트5단지,NaN,NaN,NaN,NaN,1,1

In [16]:
df_a=df_card[(df_card['bus_route_id']==23000000) & (df_card['geton_date']=='2019-09-20')]
df_a[df_a['vhc_id']==149793688]

,user_card_id,bus_route_id,vhc_id,geton_date,geton_time,geton_station_code,geton_station_name,getoff_date,getoff_time,getoff_station_code,getoff_station_name,user_category,user_count
1352753,1.014140e+15,23000000,149793688,2019-09-20,06:50:22,501,한라수목원,2019-09-20,06:58:04,361.0,남녕고등학교,29,1
1352754,1.010002e+15,23000000,149793688,2019-09-20,06:57:24,360,노형오거리,2019-09-20,07:39:27,466.0,화북남문,1,1
1352755,1.010000e+15,23000000,149793688,2019-09-20,07:06:07,186,은남동,2019-09-20,07:35:52,422.0,거로입구,1,1
1352756,1.010010e+15,23000000,149793688,2019-09-20,07:09:54,320,제주도청신제주로터리,2019-09-20,07:55:17,225.0,조천리,1,1
1352757,1.010010e+15,23000000,149793688,2019-09-20,07:09:56,320,제주도청신제주로터리,2019-09-20,07:55:12,225.0,조천리,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1413895,5.424160e+15,23000000,149793688,2019-09-20,11:17:50,3273,고산동산(광양방면),NaN,NaN,NaN,NaN,1,1
1413898,5.188317e+15,23000000,149793688,2019-09-20,11:23:05,275,문예회관,NaN,NaN,NaN,NaN,1,1
1413899,5.365101e+15,23000000,149793688,2019-09-20,11:45:09,230,대섬입구,NaN,NaN,NaN,NaN,1,1
1413911,9.411160e+15,23000000,149793688,2019-09-20,06:52:09,500,제주제일고등학교,NaN,NaN,NaN,NaN,1,1
1413912,1.040010e+15,23000000,149793688,2019-09-20,06:55:15,11,노형오거리,NaN,NaN,NaN,NaN,1,1

In [ ]:
df_card[(df_card['vhc_id']==1449793688 (df_card['geton_date']=='2019-09-20')]

In [12]:
df_card.sort_values('bus_route_id',ascending=False)

,user_card_id,bus_route_id,vhc_id,geton_date,geton_time,geton_station_code,geton_station_name,getoff_date,getoff_time,getoff_station_code,getoff_station_name,user_category,user_count
1606037,1.019160e+15,32820000,149793127,2019-10-12,06:06:14,1564,제주시외버스터미널,2019-10-12,07:01:14,737.0,한림고등학교,1,1
268511,1.010001e+15,32820000,149793113,2019-09-05,06:21:03,96,제주민속오일장,2019-09-05,07:19:25,786.0,고산환승정류장(고산1리),1,1
1842372,6.556162e+15,32820000,149793188,2019-10-07,06:07:44,1564,제주시외버스터미널,2019-10-07,07:01:56,737.0,한림고등학교,1,1
698083,5.377066e+15,32820000,149793107,2019-09-04,06:19:23,96,제주민속오일장,2019-09-04,07:18:05,786.0,고산환승정류장(고산1리),1,1
698082,6.556162e+15,32820000,149793107,2019-09-04,06:09:02,1564,제주시외버스터미널,2019-09-04,07:02:35,737.0,한림고등학교,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2140311,1.010010e+15,4270000,149793717,2019-10-06,09:56:42,1579,제주국제공항(600번),2019-10-06,11:29:17,2009.0,뉴경남호텔,1,1
2140312,1.010010e+15,4270000,149793717,2019-10-06,09:56:48,1579,제주국제공항(600번),2019-10-06,11:29:15,2009.0,뉴경남호텔,1,1
2140321,1.010010e+15,4270000,149793717,2019-10-06,09:59:38,1579,제주국제공항(600번),2019-10-06,10:09:13,2966.0,롯데시티호텔(600번),1,1
2140322,1.010010e+15,4270000,149793717,2019-10-06,09:59:42,1579,제주국제공항(600번),2019-10-06,10:09:15,2966.0,롯데시티호텔(600번),1,1
1567212,1.019160e+15,4270000,149793716,2019-10-05,09:33:27,1579,제주국제공항(600번),NaN,NaN,NaN,NaN,1,1

In [13]:
df_9.sort_values('bus_route_id',ascending=False)

,id,date,bus_route_id,in_out,station_code,station_name,latitude,longitude,6~7_ride,7~8_ride,...,10~11_ride,11~12_ride,6~7_takeoff,7~8_takeoff,8~9_takeoff,9~10_takeoff,10~11_takeoff,11~12_takeoff,18~20_ride,sum_ride
415422,415422,2019-09-30,32820000,시내,6115100,서귀포시외버스터미널,33.24873,126.50799,0.0,0.0,...,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0
289008,289008,2019-09-21,32820000,시내,2972,제주국제공항(종점),33.50571,126.49319,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0
289006,289006,2019-09-21,32820000,시내,1564,제주시외버스터미널,33.49946,126.51479,0.0,0.0,...,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0
289005,289005,2019-09-21,32820000,시내,1129,한림환승정류장(한림리),33.41437,126.26336,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
289004,289004,2019-09-21,32820000,시내,737,한림고등학교,33.39918,126.25841,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
109578,109578,2019-09-09,4270000,시내,2843,중문관광단지여미지식물원입구,33.25214,126.41268,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,2.0,0.0,6.0,0.0,0.0
109577,109577,2019-09-09,4270000,시내,2494,동광환승정류장5(서귀방면),33.30958,126.34083,0.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,3.0,1.0
109576,109576,2019-09-09,4270000,시내,2111,서귀포칼호텔,33.24694,126.58149,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
109575,109575,2019-09-09,4270000,시외,2095,켄싱턴제주호텔입구,33.25037,126.40992,0.0,0.0,...,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0
0,0,2019-09-01,4270000,시외,344,제주썬호텔,33.48990,126.49373,0.0,1.0,...,2.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,14.0

In [5]:
df_9.dtypes

id                 int64
date              object
bus_route_id       int64
in_out            object
station_code       int64
station_name      object
latitude         float64
longitude        float64
6~7_ride         float64
7~8_ride         float64
8~9_ride         float64
9~10_ride        float64
10~11_ride       float64
11~12_ride       float64
6~7_takeoff      float64
7~8_takeoff      float64
8~9_takeoff      float64
9~10_takeoff     float64
10~11_takeoff    float64
11~12_takeoff    float64
18~20_ride       float64
dtype: object

In [6]:
import folium
map_jeju=folium.Map(location=[df_9['latitude'],df_9['longitude']])
map_jeju

ValueError: Location should consist of two numerical values, but [0         33.48990
1         33.48944
2         33.48181
3         33.50577
4         33.25579
            ...
415418    33.41437
415419    33.49946
415420    33.23100
415421    33.46483
415422    33.24873
Name: latitude, Length: 415423, dtype: float64] of type <class 'list'> is not convertible to float.